VITE_EMAILJS_SERVICE_ID=some_id
VITE_EMAILJS_TEMPLATE_ID=some_other_id
VITE_EMAILJS_PUB_KEY=YOUR_EMAILJS_PUBLIC_KEY
VITE_GOOGLE_SIGNUP_FORM=form_link
VITE_GOOGLE_FORM_DEFAULT_WIDTH=640
VITE_GOOGLE_FORM_DEFAULT_HEIGHT=1503%