REACT_APP_EMAILJS_SERVICE_ID=serviceID — the EmailJS service ID
REACT_APP_EMAILJS_TEMPLATE_ID=templateID — the EmailJS template ID
REACT_APP_EMAILJS_USER_ID=userID
REACT_APP_GOOGLE_SIGNUP_FORM=FORM
REACT_APP_GOOGLE_FORM_DEFAULT_WIDTH=640
REACT_APP_GOOGLE_FORM_DEFAULT_HEIGHT=1502